@import "../constants.scss";

.faq__list {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid $dark-color;
}

.faq__list > * {
    border-top: 1px solid $dark-color;
}

.question {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    justify-content: space-between;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.question-partial {
    height: 77px;
}

.question__container {
    width: 100%;
    position: relative;
}

.faq__list .question-full {
    height: 157px;
}

.question__title {
    width: 49%;
}

.question__visible-block {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.question__text {
    max-width: 370px;
    width: 45%;
    position: absolute;
    left: 50%;
    top: 0;
    transition: 0.2s;
}

.question-partial .question__text {
    opacity: 0;
    opacity: 0;
    visibility: hidden;
}

.question-full .question__text {
    opacity: 1;
}

.question__arrow {
    transition: 0.3s;
}

.question-full .question__arrow {
    transform: rotate(-90deg);
}

@media (max-width: 1417px) {
    .question-partial:last-child {
        height: 100px;
    }
}

@media (max-width: 1316px) {
    .question-partial:nth-child(7) {
        height: 100px;
    }
}

@media (max-width: 1154px) {
    .question-partial:nth-child(6), .question-partial:nth-child(4) {
        height: 100px;
    }
}

@media (max-width: 1101px) {
    .question-partial:nth-child(2) {
        height: 100px;
    }
}

@media (max-width: 980px) {
    .question .question__title {
        font-size: 18px;
    }
}

@media (max-width: 1100px) {
    .question__title {
        width: 95%;
    }

    .faq__list .question {
        padding: 15px 0;
        flex-direction: column;
    }

    .question__text {
        display: none;
    }

    .question-full .question__text {
        display: block;
        max-width: 100%;
        width: 100%;
        position: static;
        margin-top: 10px;
    }

    .faq__list .question-partial {
        height: auto;
    }

    .faq__list .question-full {
        height: auto;
    }
}

@media (max-width: 500px) {
    .faq__list .question {
        padding: 10px 0;
    }
}