@import "../constants.scss";

.connection {
    background-color: $brand-color;
    width: 100%;
    border-radius: 40px;
    padding-top: 70px;
    position: relative;
    z-index: 2;
}

.connection .connection__title {
    color: $light-color;
    margin-top: 0;
    margin-bottom: 50px;
}

.connection__list {
    list-style-type: none;
    padding: 0;
}

.data .data__title {
    color: $light-color;
}

.data__info .connection-link {
    color: $light-color;
    text-transform: none;
    font-size: 25px;
}

.data__title {
    width: 50%;
}

.data__info {
    width: 50%;
}

.data {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    align-items: start;
}

.data:first-child {
    padding-bottom: 20px;
}

.contacts {
    margin-top: -20px;
}

.contact .contact__name {
    color: rgba(255, 255, 255, 0.6);
    text-transform: none;
    font-size: 25px;
}

.contact .contact__data {
    color: $light-color;
    text-transform: none;
    font-size: 25px;
}

.contact {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.contact:first-child {
    border-bottom: 1px solid $light-color;
}

.form__input {
    background: transparent;
    height: 23px;
    border: none;
    border-bottom: 1px solid $light-color;
    color: $light-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 50%;
    padding-bottom: 10px;
    padding-left: 0;
}

.form__input:focus {
    outline: none;
}

.form__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 0;
}

.form__textarea {
    background: transparent;
    height: 182px;
    border: 1px solid $light-color;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    color: $light-color;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
    padding: 5px;
}

.form__block {
    display: flex;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__textarea-title {
    color: $light-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form__checkbox + label {
    display: flex;
    align-items: center;
    user-select: none;
}

.form__checkbox + label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid $light-color;
    background-repeat: no-repeat;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 15px;
}

.form__checkbox:checked + label::before {
    background-image: url("./img/checkbox-checked.svg");
}

.form__agreement-link {
    color: $light-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    line-height: 21px;
}

.submit-btn {
    margin-bottom: 40px;
}

@media (max-width: 1233px) {
    .data__street {
        display: block;
    }
}

@media (max-width: 1100px) {
    .data {
        gap: 18px;
        padding-top: 10px;
    }

    .data__title {
        width: 23%;
    }
    
    .data__info {
        width: 75%;
    }

    .data__info .connection-link {
        font-size: 16px;
    }

    .data__street {
        display: inline;
    }

    .connection {
        padding-top: 27px;
        border-radius: 20px;
    }

    .connection .connection__title {
        margin-bottom: 27px;
    }

    .contact .contact__name, .contact .contact__data {
        font-size: 16px;
    }

    .data:first-child {
        padding-bottom: 10px;
    }

    .contacts {
        margin-top: -10px;
    }

    .contact {
        height: 70px;
        gap: 7px;
    }

    .form__input {
        font-size: 14px;
        padding-bottom: 3px;
        width: 100%;
    }
    
    .form__input::placeholder {
        font-size: 14px;
        padding-bottom: 3px;
    }
    
    .form__block {
        flex-direction: column;
        gap: 10px;
    }

    .form {
        gap: 10px;
        margin-top: -4px;
    }

    .form__textarea-title {
        font-size: 14px;
    }

    .form__textarea {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 175px;
    }

    .submit-btn {
        margin-top: 5px;
        margin-bottom: 20px
    }

    .form__checkbox + label::before {
        width: 18px;
        height: 18px;
    }

    .form__checkbox:checked + label::before {
        background-size: 18px;
    }

    .form__agreement-link {
        font-size: 14px;
    }
}

@media (max-width: 561px) {
    .data__street {
        display: block;
    }
}

@media (max-width: 500px) {
    .data__street {
        display: inline;
    }

    .connection {
        padding-top: 33px;
    }

    .data {
        flex-direction: column;
        gap: 10px;
    }

    .data__title {
        width: 100%;
    }

    .data__info {
        width: 100%;
    }
    
    .contact:first-child {
        border-bottom: none;
    }

    .contacts {
        display: flex;
        gap: 46px;
    }

    .contact {
        height: auto;
        display: block;
        margin: 15px 0 10px 0;
    }

    .contact__name {
        margin-bottom: 5px;
    }

    .data__info .connection-link {
        font-size: 14px;
    }

    .contact .contact__name, .contact .contact__data {
        font-size: 14px;
    }

    .form__input::placeholder, .form__textarea-title, .form__input, .form__agreement-link {
        font-size: 12px;
        padding-bottom: 1px;
    }

    .form__block, .form {
        gap: 0;
    }

    .form__textarea-title-new-line {
        display: block;
    }

    .form__textarea-title {
        margin-top: 10px;
    }

    .form__checkbox + label::before {
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }

    .form__checkbox:checked + label::before {
        background-size: 12px;
    }

    .form__textarea {
        margin-bottom: 0;
        height: 180px;
    }

    .submit-btn {
        margin-bottom: 4px;
    }
}

@media (max-width: 550px) {
    .data__street {
        display: block;
    }

    .connection .connection__title {
        line-height: 25px;
    }
}
