@import "../constants.scss";

.main-title {
    font-family: "Tektur", Arial, Sans-Serif;
    color: $dark-color;
    text-align: center;
    font-size: 10.625vw;
    font-style: normal;
    font-weight: 500;
    line-height: 7.437vw;
    letter-spacing: -0.2125rem;
    text-transform: uppercase;
}

.orange {
    color: $brand-color;
}

.title-block__row {
    display: flex;
    align-items: center;
}

.title-block__row:first-child {
    justify-content: space-between;
}

.title-block__row:nth-child(3) {
    gap: 2.625vw;
}

.third-row-text {
    margin-left: 0;
}

.title-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.container-img {
    display: flex;
}

.image-mainscreen {
    width: 11.375vw;
    height: 7.5vw;
}

.first-img {
    background: url("./img/mainBlockImages/main-title1.png"), lightgray 50% / cover no-repeat;
    margin-right: 10px;
}

.second-img {
    background: url("./img/mainBlockImages/main-title2.png"), lightgray 50% / cover no-repeat;
}

.third-img {
    background: url("./img/mainBlockImages/main-title3.png"), lightgray 50% / cover no-repeat;
    margin-right: 16px;
}

.forth-img {
    background: url("./img/mainBlockImages/main-title4.png"), lightgray 50% / cover no-repeat;
    background-position: center;
}

.main-text-title {
    width: 23.125vw;
    align-self: start;
    color: $dark-color;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-right: 20px;
}

.title-block-btn {
    margin: 20px 0;
}

.main-cover-tablet {
    display: none;
}

@media (max-width: 1100px) {
    .forth-img, .third-img {
        display: none;
    }

    .title-block__row {
        justify-content: space-between;
    }

    .main-text-title {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 850px) {
    .main-title {
        font-size: 10.46875vw;
        line-height: 65px;
        letter-spacing: -1.34px;
    }

    .image-mainscreen {
        display: none;
    }

    .title-block__row:nth-child(3) {
        flex-direction: column-reverse;
        align-items: start;
        gap: 2.34375vw;
    }

    .title-block-wrapper {
        gap: 2.34375vw;
    }

    .main-cover-tablet {
        display: block;
        width: 100%;
        height: 340px;
        object-fit: cover;
        object-position: right;
    }

    .title-block-btn {
        margin: 15px 0;
    }
}

@media (max-width: 640px) {
    .main-title {
        line-height: 47px;
    }

    .main-text-title {
        font-size: 2.8125vw;
    }
}

@media (max-width: 420px) {
    .main-title {
        line-height: 32px;
        font-weight: 600;
    }

    .main-title {
        font-size: 10.555vw;
    }

    .main-text-title {
        font-size: 3.3vw;;
    }

    .title-block {
        height: calc(100vh - 66px);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .title-block-wrapper {
        flex-grow: 3;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .main-cover-tablet {
        flex-grow: 3;
        height: auto;
    }
}

@media (max-width: 360px) {
    .title-block-wrapper {
        gap: 2.3vw;
    }
}
