.service {
    width: 100%;
    height: 54px;
    transition: 0.3s;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.service-partial .service__description {
    display: none;
}

.service-full {
    height: 297px;
    position: relative;
}

.service-full .service__description {
    display: flex;
    position: absolute;
    left: 25%;
}

.service-full .service__arrow {
    transform: rotate(-90deg);
}

.service__arrow {
    transition: 0.3s;
}

.services__list {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid $dark-color;
}

.services__list > * {
    border-top: 1px solid $dark-color;
}

.service__description {
    gap: 20px;
}

.service__text {
    max-width: 370px;
    width: 100%;
}

.service__title {
    line-height: 14px;
}

.services__btn {
    margin-top: 43px;
}