@import "../constants.scss";

.statistics {
    display: flex;
    flex-wrap: wrap;
}

.stat-data {
    max-width: 385px;
    width: 25%;
    height: 651px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.statistics__first {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("./img/statImages/120variants-new.png"), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statistics__second {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("./img/statImages/85styles.png"), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statistics__third {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("./img/statImages/50solution.png"), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statistics__forth {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("./img/statImages/12years.png"), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.stat-data__caption {
    margin-left: 1.5625vw;
}

.stat-number {
    color: $light-color;
    font-family: "Tektur";
    font-size: 120px;
    font-weight: 600;
    line-height: 84px;
}

.stat-description {
    color: $light-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 52px;
}

@media (max-width: 1100px) {
    .stat-data {
        width: 50%;
        height: 250px;
        max-width: 600px;
    }

    .stat-number {
        font-size: 96px;
        line-height: 67px;
    }

    .stat-description {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 420px) {
    .stat-data {
        width: 100%;
    }
}
