@import "./constants.scss";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
    font-family: Tektur, "Verdana", Sans-Serif;
}

body {
    background-color: $background-color;
    margin: 0;
}

p {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

button {
    padding-block: 0rem;
    padding-inline: 0rem;
    border-width: 0rem;
    border-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.content-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.inform-text {
    color: $dark-color;
    font-family: "Tektur";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
}

.general-text {
    color: $dark-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.title-secondary {
    color: $dark-color;
    font-family: "Tektur";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    margin: 120px 0 40px 25%;
}

.footer-text {
    color: $light-color;
    font-family: "Inter";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
}

@media (max-width: 1100px) {
    .title-secondary {
        margin: 90px 0 25px 0;
    }
}

@media (max-width: 900px) {
    .general-text {
        font-size: 12px;
    }

    .title-secondary {
        font-size: 27px;
        line-height: 19px;
    }

    .inform-text {
        font-size: 18px;
    }

    .content-wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 500px) {
    .content-wrapper {
        padding: 0 10px;
        overflow-x: hidden;
        height: auto;
    }

    .title-secondary {
        margin: 70px 0 20px 0;
    }
}

@media (max-width: 350px) {
    .title-secondary {
        line-height: 30px;
    }
}