@import "./constants.scss";

.inform-text {
    color: $dark-color;
    font-family: "Tektur";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
}

.general-text {
    color: $dark-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
