@import "./constants.scss";

.inform-text {
    color: $dark-color;
    font-family: "Tektur";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
}

.general-text {
    color: $dark-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.title-secondary {
    color: $dark-color;
    font-family: "Tektur";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    margin: 120px 390px 40px;
}

.footer-text {
    color: $light-color;
    font-family: "Inter";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
}
