@import "./constants.scss";

.btn {
    width: 100%;
    height: 3.75rem;
    border-radius: 0.625rem;
    background: $brand-color;
    color: $light-color;
    font-family: "Tektur", cursive;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    transition: 0.1s linear;
    z-index: 2;
    cursor: pointer;
}

.btn:hover {
    background: none;
    border: 1px solid $brand-color;
    color: $brand-color;
}

.submit-btn {
    height: 59px;
    border-radius: 10px;
    background: $light-color;
    color: $brand-color;
    font-family: "Tektur";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    transition: 0.1s linear;
    cursor: pointer;
    border: none;
    margin-top: -10px;
}

.submit-btn:hover {
    color: $light-color;
    background: $brand-color;
    border: 1px solid $light-color;
}