@import "../constants.scss";

.reviews__my-slider {
    margin-left: -20px;
}

.reviews-container {
    cursor: ew-resize;
}

.reviews-container__wrapper {
    background-color: $light-color;
    height: auto;
    position: relative;
    user-select: none;
}

.reviews-container__wrapper > * {
    margin: 0 30px;
}

.reviews-username {
    color: $dark-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
    padding-top: 30px;
}

.reviews-secondary {
    color: #727272;
    font-family: "Inter";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.reviews-link {
    margin-top: 10px;
    margin-bottom: 20px;
}

.reviews-image {
    margin-bottom: 20px;
}

.reviews-text {
    padding-bottom: 40px;
}

.reviews-date {
   padding-bottom: 30px;
}

.reviews__btn {
    margin-top: 20px;
    margin-bottom: 70px;
}

@media (max-width: 1100px) {
    .reviews-link {
        margin-bottom: 15px;
    }

    .reviews-image {
        margin-bottom: 10px;
    }

    .reviews-date {
        padding-bottom: 15px;
    }

    .reviews__btn {
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .reviews-text {
        padding-bottom: 78px;
    }
}

@media (max-width: 500px) {
    .reviews-container__wrapper > * {
        margin: 0 15px;
    }
}