@import "./styles/constants.scss";
@import "./styles/buttons.scss";
@import "./styles/base.scss";
@import "./styles/components/services.scss";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0.5rem 1.88rem 0rem 1.88rem;
    background-color: $background-color;
}

p {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

button {
    padding-block: 0rem;
    padding-inline: 0rem;
    border-width: 0rem;
    border-style: none;
}

li {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

ul {
    display: inline-flex;
    align-items: flex-start;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $dark-color;
    padding: 1.1875rem 0.94rem;
}

li:nth-last-child(1) a {
    padding: 1.1875rem 0 1.1875rem 0.94rem;
}

.content-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.logo {
    width: 3.375rem;
    height: 3.375rem;
}

.main-title {
    font-family: "Tektur", cursive;
    color: $dark-color;
    text-align: center;
    font-size: 10.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 72%;
    letter-spacing: -0.2125rem;
    text-transform: uppercase;
    margin-left: -0.625rem;
    padding-right: 0.625rem;
}

.main-title.orange {
    color: $brand-color;
}

.main-title.third-row-text {
    margin-left: 0.625rem;
}

.title-block__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.container-img {
    display: flex;
    gap: 0.62rem;
}

.image-mainscreen {
    width: 11.375rem;
    height: 7.5rem;
}

.first-img {
    background: url("./img/main-title1.png"), lightgray 50% / cover no-repeat;
}

.second-img {
    background: url("./img/main-title2.png"), lightgray 50% / cover no-repeat;
}

.third-img {
    background: url("./img/main-title3.png"), lightgray 50% / cover no-repeat;
}

.forth-img {
    background: url("./img/main-title4.png"), lightgray 50% / cover no-repeat;
}

.main-text-title {
    width: 24.0625rem;
    align-self: start;
    color: $dark-color;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.title-block-btn {
    margin: 20px 0;
}

.statistics {
    display: flex;
}

.stat-data {
    max-width: 385px;
    width: 25%;
    height: 651px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.statistics__first {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("./img/120variants.png"), lightgray 50% / cover no-repeat;
}

.statistics__second {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("./img/85styles.png"), lightgray 50% / cover no-repeat;
}

.statistics__third {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("./img/50solution.png"), lightgray 50% / cover no-repeat;
}

.statistics__forth {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("./img/12years.png"), lightgray 50% / cover no-repeat;
}

.stat-data__caption {
    margin-left: 25px;
}

.stat-number {
    color: $light-color;
    font-family: "Tektur";
    font-size: 120px;
    font-weight: 600;
    line-height: 84px;
}

.stat-description {
    color: $light-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 52px;
}

.stages {
    margin-bottom: 40px;
}

.stages .slider__title,
.reviews .slider__title {
    margin-bottom: 22px;
}

.stages-container {
    height: 345px;
    cursor: ew-resize;
}

.stages-container__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 31px;
    background-color: white;
}

.stages-image {
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.stages-info {
    margin-top: 30px;
}

.stages-num {
    color: $brand-color;
    font-family: "Tektur", cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.stages-title {
    margin-bottom: 20px;
    margin-right: 59px;
    color: $dark-color;
    font-family: "Tektur", cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
}

.stages-text {
    margin-right: 31px;
}

.stages,
.reviews {
    position: relative;
}

.stages__drag-circle,
.reviews__drag-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $brand-color;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stages__drag-circle {
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}

.drag-text {
    color: $light-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}

.stages:active .stages__drag-circle,
.reviews:active .reviews__drag-circle {
    visibility: hidden;
}

.reviews-container {
    cursor: ew-resize;
}

.reviews-container__wrapper {
    background-color: white;
    height: 393px;
    position: relative;
}

.reviews-container__wrapper * {
    margin: 0 30px;
}

.reviews-username {
    color: $dark-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
    padding-top: 30px;
}

.reviews-secondary {
    color: #727272;
    font-family: "Inter";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.reviews-link {
    margin-top: 10px;
    margin-bottom: 20px;
}

.reviews-image {
    margin-bottom: 20px;
}

.reviews-date {
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
}

.reviews__drag-circle {
    top: 175px;
    right: 25%;
    transform: translate(50%, 0);
}

.title-secondary {
    color: $dark-color;
    font-family: "Tektur";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    margin: 120px 390px 40px;
}

.examples__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.examples-btn {
    margin-top: 50px;
}

.big-example {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 81px;
}

.big-example__top {
    display: flex;
    justify-content: space-between;
}

.big-example__bottom {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.example-block__text {
    margin-top: 15px;
}

.example-block__img {
    max-width: 100%;
}

.example-big-img {
    height: 610px;
    width: 370px;
    max-width: 370px;
}

.advantage__num {
    color: $brand-color;
    font-family: "Tektur";
    font-size: 20px;
    font-style: normal;
    line-height: 100%;
    text-transform: uppercase;
}

.advantage {
    width: 369px;
    height: 124px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 5px;
    position: absolute;
}

.advantages__wrapper {
    position: relative;
    height: 690px;
    margin-top: 70px;
}

.advantages__grass {
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
}

.advantage-1 {
    left: 11.7%;
    top: 12.2%;
}

.advantage-2 {
    left: 61.88%;
}

.advantage-3 {
    left: 12.6%;
    top: 64%;
}

.advantage-4 {
    left: 68.77%;
    top: 47.5%;
}

.advantage-5 {
    left: 52%;
    bottom: 0;
}
